devices: (
{
    name: "Wireless Mouse MX Master 3";
    smartshift:
    {
        on: true;
        threshold: 30;
    };
    hiresscroll:
    {
        hires: true;
        invert: false;
        target: false;
    };
    thumbwheel: {
        divert: true;
        invert: false;
        left: {
            interval: 5;
            direction: "Right";
            mode: "OnInterval";
            action = { 
                type: "Keypress"; 
                keys: ["KEY_LEFTCTRL", "KEY_PAGEUP"]; 
            };
        };
        right: {
            interval: 5;
            direction: "Right";
            mode: "OnInterval";
            action = { 
                type: "Keypress"; 
                keys: ["KEY_LEFTCTRL", "KEY_PAGEDOWN"]; 
            };
        };
    };
    dpi: 1200;

    buttons: (
        {
            cid: 0xc3;
            action =
            {
                type: "Gestures";
                gestures: (
                    {
                        direction: "Up";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTCTRL", "KEY_F10"];
                        };
                    },
                    {
                        direction: "Down";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTCTRL", "KEY_F7"];
                        };
                    },
#                    {
#                        direction: "Left";
#                        mode: "OnRelease";
#                        action =
#                        {
#                            type: "CycleDPI";
#                            dpis: [50, 500, 1000, 1500, 2000, 3000, 4000];
#                        };
#                    },
                    {
                        direction: "Left";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_LEFT"];
                        };
                    },

#                    {
#                        direction: "Right";
#                        mode: "OnRelease";
#                        action =
#                        {
#                            type = "ToggleHiresScroll";
#                        }
#                    },
                    {
                        direction: "Right";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_RIGHT"];
                        }
                    },

                    {
                        direction: "None"
                        mode: "NoPress"
                    }
                );
            };
        },
        {
            cid: 0xc4;
            action =
            {
                type = "ToggleSmartshift";
            };
        }#,
#        {
            # Next tab instead of fwd in history, Comment to default behavior
#            cid: 0x53;
#            action =
#            {
#                type :  "Keypress";
#                keys: ["KEY_LEFTCTRL", "KEY_PAGEUP"];
#            };
#        },
#        {
            # Previous tab instead of back in history, Comment to default behavior
#            cid: 0x56;
#            action =
#            {
#                type :  "Keypress";
#                keys: ["KEY_LEFTCTRL", "KEY_PAGEDOWN"];
#            };
#        }
    );
},
{
# Another device to configure
name: "MX Keys Wireless Keyboard";
buttons: (
    {
        cid: 0x00c7;
        action = {
            type: "keypress";
            keys: [ "KEY_BRIGHTNESSDOWN" ];
        }
    },
    {
        cid: 0x00c8;
        action = {
            type: "keypress";
            keys: [ "KEY_BRIGHTNESSUP" ];
        }
    }
)
}
);
